cmake-build-debug/*
cmake-build-debug/
YellowBelt/.idea
WhiteBelt/.idea
RedBelt/.idea
cmake-build-debug/CMakeFiles/
RedBelt/6 week/documents.txt
RedBelt/6 week/requests.txt
RedBelt/6 week/first_part.zip
BrownBelt/2 week/code_restructure.zip
BrownBelt/2 week/ini_lib.zip
